{% from '../../components/header/header.html' import header %}
{% from '../../components/modal/modal.html' import modal %}
{% from '../../components/overlay/overlay.html' import overlay %}
{% from '../../components/notification/notification.html' import notification %}
{% from '../../components/pre-render/pre-render.html' import preRender %}

{% set authenticatedClass = 'user--is-authenticated' if authenticated %}
{% set modalClass = 'modal--is-active' if matcheduser %}
{% set overlayClass = 'overlay--is-active' if matcheduser %}
{% set dashboard = 't-dashboard' if not firstvisit %}
{% set notificationMessage = notificationMessage if notificationMessage %}
{% set notificationClass = 'notification--is-active' if notificationMessage %}
{% set preRenderItems = true if bodyClass == 't-root' %}

{% if not firstvisit %}
    {% set logo = 'logo_white' %}
    {% set headerClass = 'header--is-visited' %}
{% elif authenticated %}
    {% set logo = 'logo' %}
    {% set headerClass = 'header--is-white' %}
{% else %}
    {% set logo = 'logo_white' %} 
{% endif %}


<!DOCTYPE html>
<html lang="nl" dir="ltr">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="BE Course 2020">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="disabled-adaptations" content="watch">

        <title>BE Course 2020</title>

        <link rel="stylesheet" href="/assets/css/styles-6f5332bedd.min.css">

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
        <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#e90e63">
        <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#e90e63">
        <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

    </head>

    <body class="{{ bodyClass }} {{ authenticatedClass }} {{ dashboard }}">

        {% if preRenderItems %}

        {% call preRender() %}
            <img class="pre-render__image" src="/assets/images/bg-3.jpg" alt="">
            <img class="pre-render__image" src="/assets/images/bg-2.jpg" alt="">
            <img class="pre-render__image" src="/assets/images/bg-1.jpg" alt="">
        {% endcall %}

        {% endif %}

        {{ overlay({ class: overlayClass }) }}

        {% call header({
            class: headerClass,
            image: logo,
            visit: firstvisit
        }) %}

            {% include '../../components/navigation/navigation.html' %}

        {% endcall %}

        <main id="content" role="main">

            {% block content %}

                <!-- content will be injected in this block -->

            {% endblock %}

        </main>

        {{ modal({
            username: matcheduser,
            class: modalClass,
            ownImage: avatar,
            ownUsername: username,
            title: "It's a match!",
            description: 'You and ' + matcheduser + ' liked each other!',
            image: matchedavatar
        }) }}

        {{ notification({ message: notificationMessage, class: notificationClass }) }}

        {% if environment == 'local' %}
            <script type="module" async="async" src="/assets/js/main-es.js"></script>
        {% else %}
            <script type="module" async="async" src="/assets/js/main-es-dd12e2fef2.min.js"></script>
            <script nomodule="nomodule" async="async" src="/assets/js/main-c7050dec1b.min.js"></script>
        {% endif %}

    </body>

</html>