$input-border-width: 2px;
$input-border-radius: 0;
$input-border-color: $color-red;
$input-fill-color: $color-grey-light;
$input-padding-top: $global-spacing;
$input-padding-bottom: $global-spacing;
$input-padding-left: $global-spacing * 2;
$input-padding-right: $global-spacing * 4;
$input-transition-time: 750ms;
$input-transition-ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);

.c-input {
  position: relative;
}

.input__label {
  display: block;
}

.input__input {
  display: block;
  appearance: none;
  width: 100%;
  padding-top: $input-padding-top;
  padding-bottom: $input-padding-bottom;
  padding-left: $input-padding-left;
  padding-right: $input-padding-right;
  border-radius: $input-border-radius;
  border: 0;
  background-color: $input-fill-color;
  line-height: $font-line-height-body;
  transition: box-shadow $input-transition-time $input-transition-ease;

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }

  &::-ms-expand {
    display: none;
  }
}

.input__wrapper {
  position: relative;
}

.input--has-error {
  box-shadow: 0 0 0 $input-border-width $input-border-color inset;
}
