{% from '../form-elements/form/form.html' import form %}
{% from '../form-elements/form-input/form-input.html' import input %}
{% from '../form-elements/form-message/form-message.html' import message %}
{% from '../form-elements/form-notice/form-notice.html' import notice %}
{% from '../form-elements/form-fieldset/form-fieldset.html' import fieldset %}
{% from '../button/button.html' import button %}

{% set errorClass = 'form__message--has-error' if error|length %}
{% set successClass = 'form__message--has-success' if success|length %}

{% if error | length %}
  {% set messageText = error %}
{% elif success | length %}
  {% set messageText = success %}
{% endif %}

{% if errorClass | length %}
  {% set messageClass = errorClass %}
{% elif successClass | length %}
  {% set messageClass = successClass %}
{% endif %}

{% call form({
  method: 'POST',
  action: '/login-authenticate',
  hook: 'form-login',
  title: 'Get ready'
}) %}

{% call fieldset({
  legend: 'Login inputs', 
  sronly: true
}) %}

{{ input({
    name: 'username',
    id: 'username',
    label: 'Username',
    hook: 'input-username'
  }) }}

{{ input({
    name: 'password',
    id: 'password',
    label: 'Password',
    type: 'password',
    autocomplete: true,
    hook: 'input-password'
  }) }}

{% endcall %}

{{ message({ 
    text: messageText,
    hook: 'form-error',
    class: messageClass
  }) }}

{{ button({ 
    element: 'button',
    label: 'Log in', 
    type: 'submit',
    variant: 'black',
    class: 'form__button'
  }) }}

{{ notice({ 
    text: 'Don`t have an account?',
    linkLabel: 'Sign up',
    url: '/register' 
  }) }}

{% endcall %}