@mixin button--white {
  // sass-lint:disable-block no-important
  @include button;
  background-color: $color-white;
  color: $color-primary !important;

  &:hover {
    color: $color-white !important;
  }

  &::after {
    background-color: $color-black;
  }
}
