$button-black-background-color-hover: $color-primary;

@mixin button--black {
  @include button;

  &:hover {
    color: $color-white;

    svg > g {
      fill: $color-white;
    }
  }

  &::after {
    background-color: $button-black-background-color-hover;
  }

  svg > g {
    fill: $color-white;
    transition: fill 600ms;
  }
}
