$button-primary-background-color: $color-primary;
$button-primary-background-color-hover: $color-black;

@mixin button--primary {
  @include button;
  background-color: $button-primary-background-color;

  &:hover {
    color: $color-white;
  }

  &::after {
    background-color: $button-primary-background-color-hover;
  }
}
