{% macro image(data) %}

    <figure class="c-image {%- if data.figureClass %} {{ data.figureClass }}{% endif -%}">

      {%- if data.srcset %}
      <picture>
        <source srcset="{{ data.srcset }}" type="image/webp">
        {% endif %}
        <img class="image__default 
          {%- if data.shadow %} image--has-shadow{% endif -%}
          {%- if data.class %} {{ data.class }}{% endif -%}" 
          src="{{ data.image }}" 
          alt="{{ data.alt or 'Image' }}"
        >
        {% if data.srcset %}
      </picture>
      {% endif -%}

      {%- if data.caption %}
      <figcaption class="c-image__caption">
          {{ data.caption }}
      </figcaption>
      {% endif -%}

    </figure>

{% endmacro %}