$intro-height: 100vh;
$intro-top-offset: -$global-spacing * 11.3;
$intro-color: $color-white;

.c-intro {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: $intro-height;
  margin-top: $intro-top-offset;
  color: $intro-color;
}

.intro__title {
  @include fluid-type(10, 5);
  color: $intro-color;
}

.intro__copy {
  margin-bottom: $global-spacing-md;
}

.intro__link {
  color: $intro-color;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.intro__text--is-centered {
  align-items: center;
  text-align: center;
}
