{% from '../components/card/card.html' import card %}
{% from '../components/image/image.html' import image %}

{% extends 'rev-layouts/default.html' %}

{% block content %}

  {% call card({center: true, padding: false, shadow: true}) %}

  {{ image({
      image: '/assets/images/couple.jpeg',
      srcset: '/assets/images/couple@320w.webp 320w,
             /assets/images/couple@480w.webp 480w,
             /assets/images/couple@768w.webp 768w,
             /assets/images/couple@1024w.webp 1024w,
             /assets/images/couple@1280w.webp 1280w,
             /assets/images/couple@1440w.webp 1440w,
             /assets/images/couple@1920w.webp 1920w',
      alt: 'Amazing couple'
    }) }}

  {% include '../components/form-login/form-login.html' %}

  {% endcall %}

{% endblock %}