{% from '../components/button/button.html' import button %}
{% from '../components/intro/intro.html' import intro %}

{% extends 'rev-layouts/default.html' %}

{% block content %}

  {% call intro({
    textCenter: true,
    title: 'Code. Date. Love'
  }) %}

    <small class="intro__copy">By clicking on register you agree with our <a class="intro__link" href="https://www.gotinder.com/terms?locale=nl" target="_blank" rel="noopener">terms and conditions</a>.</small>

    {{ button({ 
      element: 'a',
      label: 'Register',
      variant: 'secondary',
      size: 'large',
      url: '/register'
    }) }}

  {% endcall %}

{% endblock %}