.radio__wrapper {
  @include hide-scrollbars;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  margin-left: -$global-spacing-sm;
  margin-right: -$global-spacing-sm;
  padding-left: $global-spacing-sm;

  &:after {
    content: '';
    padding-right: $global-spacing-sm;
  }
}

.radio__label {
  display: block;
  font-weight: $font-weight-bold;
  margin-bottom: $global-spacing-md;
}
