{% from '../image/image.html' import image %}
{% from '../form-elements/form/form.html' import form %}
{% from '../button/button.html' import button %}

{% macro match(data) %}

  {%- if data %}

    <div class="c-match" js-hook-match>
      <a href="/{{ data.id }}?username={{ data.username }}">
        <div class="match__card
          {%- if data.class %} {{ data.class }}{% endif -%}
          {%- if data.shadow %} card--has-shadow{% endif -%}"
          {%- if data.hook %} js-hook-{{ data.hook }}{% endif -%}>

          {%- if data.image %}

            {{ image({
              image: data.image,
              alt: data.name,
              shadow: true,
              class: 'match__image',
              figureClass: 'match__figure'
            }) }}

          {% endif -%}

          <div class="match__details">
            <div class="match__details-wrapper">
              <span class="match__details-item">{{ data.username }}</span>
              <span class="match__details-item">{{ data.age }}</span>
            </div>
            <span class="match__details-item"><svg class="match__details-svg" viewBox="0 0 511.999 511.999" xmlns="http://www.w3.org/2000/svg"><path d="m436.852 1.702c-1.933-1.527-4.469-2.066-6.856-1.456l-256 64c-3.563.889-6.063 4.088-6.064 7.76v290.84c-24.979-30.888-70.269-35.678-101.157-10.699s-35.678 70.269-10.699 101.157c24.98 30.888 70.269 35.678 101.157 10.699 16.905-13.671 26.72-34.256 26.699-55.997v-249.752l240-60v200.592c-24.979-30.888-70.269-35.678-101.157-10.699s-35.678 70.269-10.699 101.157 70.269 35.678 101.157 10.699c16.905-13.671 26.72-34.256 26.699-55.997v-336c-.001-2.463-1.137-4.789-3.08-6.304zm-324.92 462.304c-30.928 0-56-25.072-56-56s25.072-56 56-56 56 25.072 56 56c-.04 30.911-25.088 55.96-56 56zm256-64c-30.928 0-56-25.072-56-56s25.072-56 56-56 56 25.072 56 56c-.04 30.911-25.088 55.96-56 56zm56-318.248-240 60v-63.504l240-60z"/></svg>{{ data.song }} - {{ data.artist }}</span>
          </div>

        </div>

        {%- if data.options %}

          <div class="match__options">

          {% call form({
            method: 'POST',
            action: '/user-matches',
            hook: 'form-match'
          }) %}

            {{ button({ 
              element: 'button',
              label: 'Like ♥',
              variant: 'green',
              type: 'submit',
              name: 'liked',
              value: data.id,
              hook: 'form-match-button'
            }) }}


            {{ button({ 
              element: 'button',
              label: 'Dislike!',
              variant: 'red',
              type: 'submit',
              name: 'disliked',
              value: data.id,
              hook: 'form-match-button'
            }) }}

          {% endcall %}

          </div>

        {% endif -%}
      </a>
    </div>

  {% endif -%}

{% endmacro %}