// sass-lint:disable no-vendor-prefixes

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

html {
  font-family: $font-stack-primary;
  font-size: $font-size-root;
  color: $color-black;
  background-color: $color-white;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  @include fluid-type($font-size-body, $font-size-mobile-body);
  line-height: $font-line-height-body;
  word-break: normal;
  background: $color-tertiary;
  background: $color-gradient;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100%;
}
