$logo-font: $font-stack-secondary;
$logo-color: $color-white;
$logo-font-size: 2.8rem;

.c-logo {
  display: flex;
  font-family: $logo-font;
  color: $logo-color;
  height: 100%;
}

.logo__image {
  height: 100%;
  margin-left: $global-spacing;
  margin-right: $global-spacing;
}

.logo__text {
  font-size: $logo-font-size;
  margin-right: $global-spacing;
  display: none;

  @include screen-tablet-portrait-and-bigger {
    display: block;
  }
}
