$navigation-transition-speed: 300ms;
$navigation-image-size: $global-spacing-md;
$navigation-image-border-radius: 50%;

.c-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__link {
  margin-left: $global-spacing-md;
  color: $color-white;

  &::first-letter {
    text-transform: uppercase;
  }
}

.navigation__profile {
  color: $color-black;
  border-radius: 3px;
  display: flex;
  align-items: center;

  &:hover {
    .navigation__label {
      box-shadow: inset 0 -2px 0 0 $color-primary;
    }
  }
}

.navigation__label {
  margin-right: $global-spacing;
  font-weight: $font-weight-bold;
  transition: box-shadow $navigation-transition-speed;
}

.navigation__image {
  border-radius: $navigation-image-border-radius;
  object-fit: cover;
  height: $navigation-image-size;
  width: $navigation-image-size;
}

.navigation__image-wrapper {
  border-radius: 100%;
  line-height: 0;
  transition: box-shadow $navigation-transition-speed;
  padding: $global-spacing / 2;
}

.navigation__image--is-generic {
  padding: $global-spacing;
  background-color: $color-grey-light;

  .navigation__image {
    height: $global-spacing-sm;
    width: $global-spacing-sm;
  }
}
