@mixin hide-scrollbars {
  // sass-lint:disable-block no-misspelled-properties
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}
