$color-primary: #e90e63;
$color-secondary: #0eb9e9;
$color-tertiary: #e9bd0e;

$color-black: #000000;
$color-grey-dark: #333333;
$color-grey: #808080;
$color-grey-light: #f3f4f6;

$color-white: #ffffff;

$color-red: #ff0000;
$color-green: #35cd73;
