main {
  position: relative;
  z-index: 1;

  .user--is-authenticated & {
    color: $color-white;
    padding-top: $global-spacing * 10;
    padding-bottom: $global-spacing-sm;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-white;
    }

    @include screen-tablet-portrait-and-bigger {
      padding-top: $global-spacing * 14;
      padding-bottom: $global-spacing * 8;
    }

    @include screen-tablet-portrait-and-smaller {
      overflow: hidden;
    }
  }

  .t-dashboard & {
    min-height: 100vh;
    padding-top: 0;
    padding-bottom: 0;

    .match__background {
      padding-bottom: $global-spacing * 3;
    }

    .match__background-extend {
      padding-bottom: $global-spacing-md;
    }

    @include screen-tablet-portrait-and-bigger {
      padding-top: $global-spacing * 6;
    }
  }
}
