$modal-padding: $global-spacing-lg;
$modal-background-color: rgba($color-white, 0.95);
$modal-border-radius: 3px;
$modal-color: $color-black;
$modal-image-size: $global-spacing * 10;
$modal-image-border-radius: 50%;
$modal-transition-speed: 400ms;
$modal-z-index: 101;

.c-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: $modal-padding;
  background-color: $modal-background-color;
  border-radius: $modal-border-radius;
  opacity: 0;
  visibility: hidden;
}

.modal__container {
  text-align: center;
}

.modal__title {
  margin-bottom: $global-spacing;
}

.modal__description {
  color: $modal-color;
  margin-bottom: $global-spacing-sm;
}

.modal__image {
  border-radius: $modal-image-border-radius;
  max-height: $modal-image-size;
  max-width: $modal-image-size;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: $modal-border-radius solid $color-primary;

  + .modal__image {
    margin-left: $global-spacing * 1.5;
  }
}

.modal__image-wrapper {
  display: flex;
  justify-content: center;
}

.modal__button-close {
  margin-top: $global-spacing-md;
}

.modal--is-active {
  opacity: 1;
  visibility: visible;
  z-index: $modal-z-index;
  transition: visibility $modal-transition-speed, opacity $modal-transition-speed;
}
