.select__select {
  margin-left: -1px;
  margin-bottom: 30px;
}

.select__label {
  margin-bottom: 10px;
}

.input__label {
  font-weight: 600;
  margin-bottom: 5px;
}

.range__label {
  margin-bottom: 5px;
}

.form__title {
  margin-top: 10px;
}
