{% from '../form-elements/form/form.html' import form %}
{% from '../form-elements/form-radio-wrapper/form-radio-wrapper.html' import radioWrapper %}
{% from '../form-elements/form-input/form-input.html' import input %}
{% from '../form-elements/form-message/form-message.html' import message %}
{% from '../form-elements/form-notice/form-notice.html' import notice %}
{% from '../form-elements/form-radio/form-radio.html' import radio %}
{% from '../form-elements/form-select/form-select.html' import select %}
{% from '../form-elements/form-option/form-option.html' import option %}
{% from '../form-elements/form-range/form-range.html' import range %}
{% from '../form-elements/form-fieldset/form-fieldset.html' import fieldset %}
{% from '../button/button.html' import button %}

{% set errorClass = 'form__message--has-error' if error != '' %}

{% call form({
  method: 'POST',
  action: '/update-profile',
  class: 'form__profile',
  title: 'Hello ' +  username + '.',
  subtitle: 'Change your profile.'
}) %}

  {% call fieldset({ legend: 'Main personal information', sronly: true }) %}

    {{ input({
      name: 'name',
      id: 'name',
      label: 'Name',
      autofocus: true,
      maxlength: '256',
      placeholder: 'Robin',
      value: data.name
    }) }}

      {{ input({
        name: 'age',
        id: 'age',
        label: 'Age',
        hook: 'input-age',
        type: 'text',
        placeholder: '26',
        pattern: '\\d*',
        maxlength: '2',
        value: data.age
      }) }}

      {% call radioWrapper({
        label: 'Gender',
        hook: 'gender-form'
      }) %}

        {{ radio({
          name: 'gender',
          value: 'Male',
          image: '/assets/images/male.png',
          authentication: isAuthenticated,
          checked: data.gender
        }) }}

        {{ radio({
          name: 'gender',
          value: 'Female',
          image: '/assets/images/female.png',
          authentication: isAuthenticated,
          checked: data.gender
        }) }}

        {{ radio({
          name: 'gender',
          value: 'Any',
          image: '/assets/images/gender.png',
          authentication: isAuthenticated,
          checked: data.gender
        }) }}

      {% endcall %}

    {% endcall %}

    {% call fieldset({ legend: 'Type of person you are looking for', sronly: true }) %}

      {% call radioWrapper({
        label: "Who are you looking for?",
        hook: 'looking-form'
      }) %}

        {{ radio({
          name: 'attraction',
          value: 'Males',
          image: '/assets/images/male.png',
          authentication: isAuthenticated,
          checked: data.attraction
        }) }}

        {{ radio({
          name: 'attraction',
          value: 'Females',
          image: '/assets/images/female.png',
          authentication: isAuthenticated,
          checked: data.attraction
        }) }}

        {{ radio({
          name: 'attraction',
          value: 'Anyone',
          image: '/assets/images/gender.png',
          authentication: isAuthenticated,
          checked: data.attraction
        }) }}

      {% endcall %}

      {{ range({
        label: 'And at which age range?',
        hook: 'input-age-range',
        min: '18',
        max: '99',
        name: 'Age',
        fromAge: data.fromAge,
        toAge: data.toAge
      }) }}

      {% if error %}
        {{ message({
          text: error ,
          hook: 'form-error',
          class: errorClass
        }) }}
      {% endif %}

    {% endcall %}

  {{ button({
    element: 'button',
    label: 'Change profile',
    variant: 'green',
    size: 'large',
    type: 'submit'
  }) }}

{% endcall %}
